#followers-name{
    color: white;
    font-size: 24px;
    font-weight: 500px;
    text-transform: capitalize;
    text-decoration: none;
}

#follow-spacing{
    padding: 15px;
}

#follow-cont{
    margin-left: 50px;
    margin-top: 40px;
}
