#search input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 250px;
    position: absolute;
    /* transform: translateX(-50%);
    left: 50%; */
    top: 20px;
    /* right: 500px; */
    z-index: 600;
}
