#testing_menu{
    cursor: pointer;
    color:white;
}

#testing_menu:hover{
    background-color: rgb(58, 57, 57);
}


#icon-color{
    color: #FFFFFFE6;
    font-size: 20px;
}


#user-menu-style{
    padding-top: 5px;
    background-color: #282828;
    border-radius: 4px;
    border: none;
    width: 150px;
    height: 75px;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
}

.albumTop.user.prof{
    background-color: rgb(26, 25, 25)
}

#following-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#following-title{
    margin:0
}

#idk2{
    margin-top: 7px;
}
