.artistIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.albumImage {
  width: 192px;
  height: 192px;
  object-fit: cover;
}

.albumTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: 0px 25px;
  padding-top: 50px;
}

.page-buttons {
  display: flex;
  margin: 20px;
}

#album {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.album-details {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;

}
